<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<appender name="CA" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-25t] %-5p: %m%n" />
		</layout>
	</appender>
	<appender name="Log4jViewer" class="org.apache.log4j.net.SocketAppender">
    	<param name="remoteHost" value="localhost"/>
    	<param name="port" value="4445"/>
    	<param name="locationInfo" value="true"/>
  	</appender>
  	<appender name="Interesting" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="logs/interesting.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="500KB"/>
		<param name="MaxBackupIndex" value="2"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-25t] %-5p: %m%n"/>
		</layout>
		<filter class="org.apache.log4j.varia.StringMatchFilter">
			<param name="StringToMatch" value="$$$Interseting$$$" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
		<filter class="org.apache.log4j.varia.DenyAllFilter"/>
	</appender>
	<root>
		<level value="debug" />
		<appender-ref ref="CA"/>
		<appender-ref ref="Interesting"/>
	</root>
</log4j:configuration>